*{
    margin: 0;
    padding: 0;

}

body {
    height: 90vh;
    width: 90;
    margin: 20px;
    
    Color: rgb(21, 148, 21);
    background-color: rgb(245, 242, 92);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.botao {
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center ;
}

#jogar {
    padding: 5px;
    background-color: rgb(21, 148, 21);
    color: white;
    font-size: 30px;
    margin-right: 20px;
}